@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        
       
        <div class="col-md-8 d-flex flex-column justify-content-center align-items-start mb-4">
            <h1 class="display-4 mb-3">Want to check our Reservations?</h1>
            <a asp-controller="Reservations" asp-action="Index" class="btn btn-primary btn-lg mb-4">View Reservations</a>
        </div>

      
        <div class="col-md-4">
            <div class="bg-dark text-white p-4 rounded">
                <h2>API Information</h2>
                <p>Access the reservations data via API with the following <strong>cURL</strong> command:</p>
                <pre><code id="curlCommand">curl -X GET "http://localhost:5155/grouped/resourceName"</code></pre>
                <button onclick="copyCurlCommand()" class="btn btn-secondary mt-2">Copy Code</button>
            </div>
        </div>
        
    </div>
</div>

@section Scripts {
    <script>
        function copyCurlCommand() {
           
            const curlCommand = document.getElementById("curlCommand").innerText;
            navigator.clipboard.writeText(curlCommand).then(function() {
                alert("cURL command copied to clipboard!");
            }).catch(function(error) {
                console.error("Copy failed", error);
            });
        }
    </script>
}
